.add-btn {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .cart-btn {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }